[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vscode/
*.suo
*.user
*.userprefs
*.csproj
*.pidb
*.sln
*.unityproj
*.booproj
.DS_Store
Thumbs.db
memorycapturedump
sysinfo.txt
